body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #3a241d;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#pagina {
  display: grid;
  grid-template: 15% 1fr / 15% 1fr 15%;
  height: 100vh;
}

.contenedor {
  position: relative;
  background-color: #eee;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#contenedor-derecho {
  order: 1;
}

.contenedor-componente {
  position: relative;
  height: 10.5%;
}

.componente {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

#placita {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.cielo {
  height: 80%;
  background: #bde6f1;
  border-radius: 1rem;
}

.suelo {
  margin-top: -10%;
  height: 45%;
  background: #c9e4c5;
  border-radius: 0 0 1rem 1rem;
}